#edit-field-pester-und-0-value,
#edit-field-pester .range-of-repeat,
#edit-field-pester .form-item-field-pester-und-0-rrule-show-exceptions,
#date-repeat-exceptions-field_pester-und-0-rrule,
#edit-field-pester .form-item-field-pester-und-0-rrule-show-additions,
#date-repeat-additions-field_pester-und-0-rrule {
  display : none;
  visibility : hidden;
  height : 0;
}
